
body {
	background: black;
	font-size: 25px;
}
#botonInicio{
	background-color: #0B3B0B;
	border-radius: 10px;
	height: 250px;
	margin:120px 0 0 120px;
	position: absolute;
	text-align: center;
	width: 250px;
}
#botonInicio p{
	color: red;
	font-family: helvetica;
	font-size: 45px;
	font-weight: bolder;
	text-shadow: 4px 2px rgba(150, 150, 150, 1);
}
#c{
	float: left;
	position: absolute;
}
#contenedor{
	background: #FF7400;
	border-radius: 15px;
	float: left;
	margin: 20px;
	padding: 25px;
	text-align: center;
	width: 400px;
}
#contenedor h2{
	color: #B3E0B9;
	margin:0 0 15px 0;
	font-size: 1.8em;
	text-shadow: 3px 3px #7371A1;
}
#contenedor p{
	margin: 0;
}
#contenedor p span{
	color:#FFF;
	font-size: 	1.5em;
}
#contenedor #boton{
	background-color: #145851;
	border-radius: 18px;
	color:#B3E0B9;
	font-size: 1em;
	font-weight: bold;
	height: 50px;
	margin:15px 0 15px 0;
}
#letra{
	font-size: 1.5em;
	text-align:center;
	width: 35px;
}
#solucion{
	height: 50px;
	margin-left: 38px;
	text-align: center;
	width: 400px;
}
#solucion input  {
	font-size: 1.5em;
	height:40px ;
	margin-left: 2px;
	text-align: center;
	width: 35px;
}
.invisible{
	visibility: hidden;
}
.pista{
	background: #FFCC66;
	float:left;
	line-height: 30px;
	padding: 0;
	width: 25px;
}
.visible{
	visibility: visible;
}